<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Format Shifter needs access to your photo library to save converted images directly to your Photos app for easy access and sharing.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Format Shifter needs permission to add converted images to your photo library so you can easily access and share your converted files.</string>
</dict>
</plist>
